<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
 <!-- font and icons-->
  <link rel="stylesheet" href="https://fontawesome.com/icons/laptop?f=classic&s=solid&pc=%23d2bfad">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Inter:wght@300&family=Quicksand&display=swap" rel="stylesheet">
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/about">About Me</a></li>
          <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact">Contact Me</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container mt-4">
    {{{body}}}
  </main>
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Connect with me on <a href="https://github.com/Sakila-lama">GitHub</a> and <a href="https://www.linkedin.com/in/sakila-lama-688767239/">LinkedIn</a></span>
    </div>
  </footer>

  <!-- Include Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
