 <!-- Projects Section -->
        <section class="projects-section">
            <h1>My Projects!!💡🌐 </h1>
            <div class="card-container">
                <div class="card">
                    <div class="face face1">
                        <div class="outer">
                            <img class="card-img-1" src="Img/CSS.png" alt="Dynamic Calendar">
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="inner">
                            <p class="card-text">Build Dynamic Calendar using HTML, CSS and JS</p>
                            <div class="btn1">
                                <a href="#" type="button">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="face face1">
                        <div class="outer">
                            <img class="card-img-1" src="Img/HTML.png" alt="Micro-website">
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="inner">
                            <p class="card-text">Build Responsive Micro Product website using HTML, CSS and JS</p>
                            <div class="btn1">
                                <a href="#" type="button">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <div class="face face1">
                        <div class="outer">
                            <img class="card-img-1" src="Img/IOT.png" alt="IOT-img">
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="inner">
                            <p class="card-text">Build more than 40 mini projects for Internet of Things (IOT) using Arduino language.</p>
                            <div class="btn1">
                                <a href="#" type="button">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="face face1">
                        <div class="outer">
                            <img class="card-img-1" src="Img/Calculator.png" alt="Calculator image">
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="inner">
                            <p class="card-text">Functional Calculator using Kotlin</p>
                            <div class="btn1">
                                <a href="#" type="button">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-container">
                <div class="card">
                    <div class="face face1">
                        <div class="outer">
                            <img class="card-img-1" src="#" alt="Exercise App">
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="inner">
                            <p class="card-text">Exercise App using API in Java</p>
                            <div class="btn1">
                                <a href="#" type="button">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="face face1">
                        <div class="outer">
                            <img class="card-img-1" src="#" alt="Protfolio">
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="inner">
                            <p class="card-text">Protfolio using JS framework</p>
                            <div class="btn1">
                                <a href="#" type="button">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
   

    <!-- Skills Section -->
    <section class="skills-container">
        <div class="my-skills">
            <h2>My Skills 💻</h2>
            <ul class="skills">
                <li><i class="fa-brands fa-html5"></i></li>
                <li><i class="fa-brands fa-css3"></i></li>
                <li><i class="fa-brands fa-js"></i></li>
                <li><i class="fab fa-github"></i></li>
                <li><i class="fa-brands fa-java"></i></li>
            </ul>
        </div>
    </section>